aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    background-color: lightgray;
}

article {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    background-color: lightgray;
}

#pfpp {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    margin-block: 122px;
    float: left;
    background-color: rgb(87, 86, 86);
    border-radius: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: repeat(5, 125px);
    gap: 2px;
    border: 4px solid black;
    background: linear-gradient(105deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #AAB9CF;
}

.cell:hover {
    background-color: #ffffff;
    opacity: .33
}